In [597]:
import csv
import os

vote_pd = pd.read_csv("resources/election_data.csv")

vote_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [598]:

#The total number of votes cast
total=vote_pd["Voter ID"].count()
total

3521001

In [599]:
#A complete list of candidates who received votes

candidate_list = vote_pd['Candidate'].unique()
index_col ="Candidate"
print(candidate_list)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [600]:
#The percentage of votes each candidate won

votes = vote_pd.groupby(['Candidate']).count().apply(list)
vpercent = (votes.apply(lambda x: x/x.sum()*100))
x = round(vpercent.iloc[:,:])
x

           Voter ID  County
Candidate
Correy         20.0    20.0
Khan           63.0    63.0
Li             14.0    14.0
O'Tooley        3.0     3.0

In [601]:
#The total number of votes each candidate won
votes = vote_pd.groupby(['Candidate']).count()
y = votes.iloc[:,:]
y

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [604]:
#The winner of the election based on popular vote.
winning_count = votes.max()
winning_count

w = candidate_winner.loc[:,:]
w

           Voter ID  County
Candidate
Correy        False   False
Khan           True    True
Li            False   False
O'Tooley      False   False

In [614]:
#Election Results

print (f'# Total Votes: {total}')


print (f'Khan {(x.iloc[1,1])}00% ({y.iloc[1,1]})')
print (f'Correy {round(x.iloc[0,1])}00% ({y.iloc[0,1]})')
print (f'Li {round(x.iloc[2,1])}00% ({y.iloc[2,1]})')
print (f'OTooley {round((x.iloc[3,1]))}00% ({y.iloc[3,1]})')
print (f'Winner: Khan')

#Total Votes: 3521001
#Khan: 63.000% (2218231)
#Correy: 20.000% (704200)
#Li: 14.000% (492940)
#O'Tooley: 3.000% (105630)

#Winner: Khan

# Total Votes: 3521001
Khan 63.000% (2218231)
Correy 20.000% (704200)
Li 14.000% (492940)
OTooley 3.000% (105630)
Winner: Khan