In [339]:
import numpy as np
import pandas as pd
import csv
import os

data_pd = pd.read_csv("resources/budget_data.csv")

data_pd

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [340]:
#The total number of months included in the dataset
#data_pd.count()

count_month = data_pd["Profit/Losses"].count()
count_month

86

In [341]:
#The net total amount of "Profit/Losses" over the entire period
sum_pl = '${:.0f}'.format(data_pd["Profit/Losses"].sum())
sum_pl

'$38382578'

In [353]:
#The average of the changes in "Profit/Losses" over the entire period

AmtChange = data_pd["Profit/Losses"].diff()
data_pd["Amount Changed"] = AmtChange
Change = AmtChange.mean()
Change

-2315.1176470588234

In [10]:
#The greatest increase in profits (date and amount) over the entire period
GreatestIncrease = '$'.format(data_pd["Amount Changed"].max())
Gi_Date = data_pd[data_pd["Date"] == GreatestIncrease]
Datemax = data_pd.loc[data_pd['Amount Changed'].idxmax(), 'Date']

print([Datemax])
print([GreatestIncrease])

['Feb-2012']
['$']

In [355]:
#The greatest decrease in losses (date and amount) over the entire period

GreatestDecrease =  '${:.0f}'.format(data_pd["Amount Changed"].min())
Gd_Date = data_pd[data_pd['Date'] == GreatestDecrease]
Datemin = data_pd.loc[data_pd['Amount Changed'].idxmin(), 'Date']

print(Datemin)
print(GreatestDecrease)

Sep-2013
$-2196167

In [356]:
data_pd.head()

       Date  Profit/Losses  Amount Changed
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [358]:
#Financial Analysis
print(f'Total Months: {count_month}')
print((f'Total: {sum_pl}'))
print(f'Average Change: ${round(Change,2)}')
print (f'Greatest Increase in Profits: {Datemax} ({GreatestIncrease})')
print (f'Greatest Increase in Profits: {Datemin} ({GreatestDecrease})')


#Total Months: 86
#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)

Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Increase in Profits: Sep-2013 ($-2196167)